@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap&#39;");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

main > section {
  padding: 4%;
}

section > article:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > article:nth-child(1) > h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #EC523F;
  color: #EC523F;
  font-weight: 300;
}

.subheader {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 300px) {
  header {
    height: 50vh;
    background: url("/img/p1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  header > article {
    height: 10vh;
    background-color: white;
    padding: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header > article > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
  }
  header > article [class^="fa-"] {
    font-size: 18px;
  }
  header p {
    background-image: url("/img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vh;
    height: 5vh;
  }
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  header h1 {
    font-size: 30px;
    color: #EC523F;
  }
  header [class^="fa-"] {
    font-size: 18px;
    color: black;
    text-decoration: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    text-decoration: none;
    color: #EC523F;
    padding: 5%;
    width: 100%;
  }
  nav > ul {
    display: none;
  }
  details {
    width: 80%;
    position: relative;
    text-align: right;
  }
  details > ul {
    position: absolute;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  details > ul > li {
    position: relative;
    list-style-type: none;
    width: 100%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  summary {
    background-color: #EC523F;
    color: white;
    padding: 5%;
    font-size: 26px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 12px;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services > article:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5%;
    height: 30vh;
    color: whitesmoke;
  }
  .services aside:nth-child(1) {
    background-color: #1ABC9C;
  }
  .services aside:nth-child(2) {
    background-color: #3498DB;
  }
  .services i {
    font-size: 50px;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pics > aside h3, .pics > aside p, .pics > aside a {
    display: none;
  }
  .pics > aside:nth-child(1) {
    background: url("/img/p1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45vh;
    height: 45vh;
  }
  .pics > aside:nth-child(2) {
    background: url("/img/p2.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45vh;
    height: 45vh;
  }
  .pics > aside:nth-child(3) {
    background: url("/img/p3.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45vh;
    height: 45vh;
  }
  .pics > aside:nth-child(1) {
    background: url("/img/p1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45vh;
    height: 45vh;
  }
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
  }
  .profiles > aside:nth-child(1) {
    background: url("/img/member1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(2) {
    background: url("/img/member2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(3) {
    background: url("/img/member3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(4) {
    background: url("/img/member4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(5) {
    background: url("/img/member5.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(5) {
    background: url("/img/member5.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(6) {
    background: url("/img/member6.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(7) {
    background: url("/img/member7.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles > aside:nth-child(8) {
    background: url("/img/member8.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
  }
  .profiles h3,
  .profiles span,
  .profiles div {
    display: none;
  }
  .design-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    font-size: 14px;
    font-weight: 300;
  }
  .design-skills > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .design-skills > div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    text-align: center;
  }
  .skills-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .progress-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: whitesmoke;
  }
  .progress-bar span {
    height: 4vh;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10%;
    background-color: #EC523F;
  }
  .progress-bar > p:nth-child(1), .progress-bar > p:nth-child(2), .progress-bar > p:nth-child(3), .progress-bar > p:nth-child(4) {
    width: 100%;
    background-color: gainsboro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .progress-bar > p:nth-child(1) > span {
    width: 80%;
  }
  .progress-bar > p:nth-child(2) > span {
    width: 70%;
  }
  .progress-bar > p:nth-child(3) > span {
    width: 80%;
  }
  .progress-bar > p:nth-child(4) > span {
    width: 80%;
  }
  .progress-bar span {
    height: 4vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10%;
    background-color: #EC523F;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .contact > article:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
  }
  .contact > article:nth-child(2) > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 35px;
    font-size: 14px;
    font-weight: 300;
  }
  .contact div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    width: 100%;
  }
  .contact input, .contact textarea {
    width: 90%;
    padding: 3%;
    font-size: 18px;
    border: 1px solid lightgray;
    font-weight: 300;
  }
  .contact textarea {
    height: 20vh;
    font-family: "Poppins", sans-serif;
  }
  .contact [type="submit"] {
    width: 95%;
    background-color: #EC523F;
    color: whitesmoke;
    border: 0px solid transparent;
  }
}
/*# sourceMappingURL=style.css.map */