@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap&#39;');

$defaultFont: 'Poppins', sans-serif;
$defaultColor: #EC523F;

$blockColor1: #1ABC9C;
$blockColor2: #3498DB;
$blockColor3: #2ECC71;
$blockColor4: #E67EBB;